{% extends "main.html" %}
{% block content %}
<h2>Changing a restaurant in <a href="{{url_for('showRestaurants', city_id=city.id)}}">{{city.name}}</a></h2>
<form action="#" method = "POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" value="{{restaurant.name}}" maxlength="120" id="name" placeholder="Enter a restaurant's name">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3">{{restaurant.description}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}