{% extends "main.html" %}
{% block content %}
{% if restaurant != None and restaurant.id != 0 %}
	<h2>Comments in a restaurant - {{restaurant.name}}</h2>
	<a href="{{url_for('newComment', restaurant_id=restaurant.id)}}">Add a comment</a>
{% elif restaurant == None %}
	<h2>All comments</h2>
{% endif %}
<h4>Complaints</h4>
<ul>
    {% for complaint in comments['complaints'] %}
    <li>{{complaint.name}} - {{complaint.rate}}</li>
    <textarea>
        {{complaint.description}}
    </textarea>
	{% endfor %}
</ul>
<h4>Recommendations</h4>
<ul>
    {% for recommendation in comments['recommendations'] %}
    <li>{{recommendation.name}}</li>
    <textarea>
        {{recommendation.description}}
    </textarea>
	{% endfor %}
</ul>
{% endblock %}