{% extends "main.html" %}
{% block content %}
{% if restaurant != None and restaurant.id != 0 %}
	<h2>Comments in a restaurant - {{restaurant.name}}</h2>
    {% if 'admin' in session and session['admin'] == False %}
        <a href="{{url_for('newComment', restaurant_id=restaurant.id)}}">Add a comment</a>
    {% endif %}
{% elif restaurant == None %}
	<h2>All comments</h2>
{% endif %}
<h4>Complaints</h4>
{% for complaint in comments['complaints'] %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{complaint.name}} for <a href="{{url_for('showComments', restaurant_id=complaint.restaurant.id)}}">{{complaint.restaurant.name}}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">Stars: {{complaint.rate}}</h6>
        <p class="card-text">{{complaint.description}}</p>
        <a href="{{url_for('showUser', user_id=complaint.user.id)}}" class="card-link">by {{complaint.user.name}}</a>
        {% if 'admin' in session and session['admin'] == False %}
            || <a href="{{url_for('changeComment', restaurant_id=complaint.restaurant.id, type='complaint', comment_id=complaint.id)}}">Change</a>
        {% endif %}
      </div>
    </div>
{% endfor %}
<h4>Recommendations</h4>
{% for recommendation in comments['recommendations'] %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{recommendation.name}} for <a href="{{url_for('showComments', restaurant_id=recommendation.restaurant.id)}}">{{recommendation.restaurant.name}}</a></h5>
        <p class="card-text">{{recommendation.description}}</p>
        <a href="{{url_for('showUser', user_id=recommendation.user.id)}}" class="card-link">by {{recommendation.user.name}}</a>
        {% if 'admin' in session and session['admin'] == False %}
            || <a href="{{url_for('changeComment', restaurant_id=recommendation.restaurant.id, type='recommendation', comment_id=recommendation.id)}}">Change</a>
        {% endif %}
      </div>
    </div>
{% endfor %}
{% endblock %}