{% extends "main.html" %}
{% block content %}
{% if city != None and city.id != 0 %}
<h2>Restaurants in a city - {{city.name}}</h2>
	{% if 'admin' in session and session['admin'] == True %}
		<a href="{{url_for('newRestaurant', city_id=city.id)}}">Add a restaurant</a>
	{% endif %}
{% elif city == None %}
	<h2>All restaurants</h2>
{% endif %}
<ul class="list-group list-group-flush">
	{% for restaurant in restaurants %}
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
			<h5 class="card-title">{{restaurant.name}}</h5>
			<h6 class="card-subtitle mb-2 text-muted">View comments in <a href="{{url_for('showComments', restaurant_id=restaurant.id)}}">{{restaurant.name}}</a></h6>
			<p class="card-text">{{restaurant.description}}</p>
			{% if city != None %}
				<a href="{{url_for('changeRestaurant', city_id=city.id, restaurant_id=restaurant.id)}}">Change</a>
			{% endif %}
		  </div>
		</div>
	{% endfor %}
</ul>
{% endblock %}